.transactions{
  display: flex;
  flex-direction: column;
}

.titles-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px solid black; */
  /* background-color: #fff; */
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  padding-bottom: 0;
  padding-left: 15rem;
  box-sizing: border-box;
  text-align: right;
  /* /* margin-bottom: 2rem; */
}

@media (max-width: 920px) {
  .titles-wrapper {
    display:none;
  }
}